<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- favicon -->
        {% include 'favicon.html' %}

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <title>Swap Token</title>
    </head>
    <body>

        <div class="container">

            <!-- top navigation menu -->
            {% include 'navbar.html' %}

            <div class="jumbotron">
                <h1 class="display-4">Swap Token</h1>
                <p class="lead">Instant STEEM/HIVE exchange to BTC/ETH or other cryptos(300+ coins).
                <br>
                No registration. Just swap it!</p>
            </div>

            <!-- swapzone iframe -->
            <div class="embed-responsive embed-responsive-16by9 rounded">
                <iframe src="https://swapzone.io/?refId=4&from=hive&to=eth" title="Token Swap">
                </iframe>
            </div>

        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {% include 'bootstrap_js.html' %}
      </body>
</html>
