<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- favicon -->
        {% include 'favicon.html' %}

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

        <title>Swap Token</title>
        <style scoped>
            #simpleswap-frame{
                width:100%!important;
                max-width:480px;
                height:420px!important;
            }
            @media(min-width:476px){
                #simpleswap-frame {
                    height: 400px!important;
                }
            }
        </style>
    </head>
    <body>

        <div class="container">

            <!-- top navigation menu -->
            {% include 'navbar.html' %}

            <div class="jumbotron">
                <h1 class="display-4">Swap Token</h1>
                <p class="lead">STEEM / HIVE Simple Token Swap</p>
            </div>

            <!-- simpleswap widget -->
            <div class="row">
                <div class="col">
                <iframe id="simpleswap-frame" name="SimpleSwap Widget" height="400px" src="https://simpleswap.io/widget/4b118c30-66f1-41ee-a211-515e5a4129d1" frameborder="0"></iframe>
                </div>
            </div>

        </div>

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        {% include 'bootstrap_js.html' %}
      </body>
</html>
